<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.arcidiacono.checksum</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>AC91D8E1-AB5B-45A1-87DD-9C51918ABEDF</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Arcidiacono Fabio</string>
	<key>description</key>
	<string>check file validity wrt md5, sha1, sha256 digest</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Checksum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>checksum</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Verifying</string>
				<key>script</key>
				<string>try
	tell application "Finder"		set sel to the selection as text		set sel to POSIX path of sel		do shell script "./alfredChecksum.py " &amp; sel &amp; " {query}"
	end tell
on error
	tell application "Path Finder"		set sel to POSIX path of (item 1 of (get selection))		do shell script "./alfredChecksum.py " &amp; sel &amp; " {query}"
	end tell
end try</string>
				<key>subtext</key>
				<string>Type digest</string>
				<key>title</key>
				<string>Verify Checksum</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC91D8E1-AB5B-45A1-87DD-9C51918ABEDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AC91D8E1-AB5B-45A1-87DD-9C51918ABEDF</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
